body {
  background-color: #A4A4A4;
}
blue-text{
    color:#1E215A;
}
big-text{
    font-size: 16px;
}
.centrado{
  display: block;
  margin: 20px auto;
}
.be-black{
  background-color:black;
  height: 200px;
  width:100%;
}

