body {
    background: url("../../../../img/fondo.jpg") no-repeat fixed center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main-container{
    margin: 20px;
    min-height: 700px;
}
.blue-text{
    color:#1E215A;
}
.white-text{
    color:#FFFFFF;
}
.big-text{
    font-size: 16px;
}
.centrado{
    display: block;
    margin: 10px auto;
}
.be-white
{
    background-color: rgba(255,255,255,0.7);
}
.be-blue{
    background-color: rgba(24,70,103,0.8);    
}
.blue-border{
    border: 2px solid #1B97F0;
}
.foorter-content{
    padding: 10px;
    color:#ffffff;
    font-size: 17px;
}
.logo{
    margin: 5px 20px;
    width:25%;
    height: auto;
}
.logo-sm-xs{
    margin: 5px 35px;
    width:25%;
    height: auto;
}
.img-lg{
  width: 90% !important;  
}
.img-md{
  width: 50% !important;  
}
.img-sm{
  width: 25% !important;  
}
label.error {
    color: red !important;
    font-style: italic;
}

